      .navbar-brand {
        text-emphasis-style: white;
        color: lightcoral;
      }
    .jumbotron {
      background-image: url("/assets/wall.png");
      background-size: cover;
      background-repeat: no-repeat;
      color: lightcoral;
      text-align: center;
    }     
    .title {
      height: 30px;
      font-size: 20px;
      font-style: italic;
    }
    .link {
      height: 50px;
      font-size: 20px;
      color: darkblue;
    }
      #wrapper {
        width: 960px;
        margin-left: auto;
        margin-right: auto;
        padding-top: 5%;
      }
      h1 {
        background-color: lightslategray;
        height: 10px;
      }
      h2 {
        text-align: center;
      }
      #articles {
        display: inline-block;
        overflow: auto;
        width: 60%;
        height: 700px;
      }
      #notes {
        float: right;
        width: 30%;
        padding-right: 10px;
      }
      textarea, input {
        display: block;
        width: 100%;
        background-color: lavenderblush;
      }
      input {
        height: 36px;
        font-size: 24px;
      }
      textarea {
        height: 200px;
        font-size: 18px;
      }
      .post-note, .seeNote {
        height: 25px;
        font-size: 18px;
        float: right;
      }
      button {
        margin-left: 20px;
      }
    